<%- include('./partial/_head', {title: 'Authors'}) %>
<body> 
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">DIY Platform</span>
    </div>
  </nav>

  <main class="container">
  <a type="button" class="btn btn-primary" href="/authors/detail">Show Details</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% data.forEach(el => { %>
        <tr>
          <td><%= el.id %></td>
          <td><%= el.formatName %></td>
        </tr>
      <% }) %>
    </tbody>
   </table>
  </main>
</body>
</html>