<%- include('./partial/_head', {title: 'Authors'}) %>
<body style="height: 100vh;"> 
  <!-- As a heading -->
  <%- include('./partial/_navbar') %>
  <main class="container d-flex flex-column justify-content-center" style="height: 90%;">
  <a type="button" class="btn btn-primary" href="/authors/detail">Show Details</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% data.forEach(el => { %>
        <tr>
          <td><%= el.id %></td>
          <td><%= el.formatName %></td>
        </tr>
      <% }) %>
    </tbody>
   </table>
  </main>
</body>
</html>