<%- include('./partial/_head', {title: 'Post Add'}) %>
<body> 
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">DIY Platform</span>
    </div>
  </nav>

  <main class="container">
    <% if(errors) { %>
        <% errors = errors.split(",") %>
        <% errors.forEach(el => { %>
            <p style="color: red;"><%= el %></p>
        <% }) %>
    <% } %>
    <h1>Add New Post</h1>
    <form action="/posts/add" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" />
        </div>
        <div>
            <div>
                <label for="AuthorId">Author</label>
                <select type="text" name="AuthorId" id="AuthorId">
                    <option value="null" selected disabled>Choose</option>
                    <% data.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.fullName %></option>
                    <% }) %>
                </select>
            </div>
            <div>
                <label for="">Difficulty</label>
                <select type="text" name="difficulty" id="difficulty">
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </div>
            <div>
                <label for="estimatedTime">Estimated Time</label>
                <input type="number" name="estimatedTime" id="estimatedTime" />
                <label for="estimatedTime">Minutes</label>
            </div>
            <div>
                <label for="imageUrl">Image Url</label>
                <input type="text" name="imageUrl" id="imageUrl" />
            </div>
            <div>
                <label for="createdDate">Created Date</label>
                <input type="date" name="createdDate" id="createdDate" />
            </div>
            <div>
                <label for="description">Description</label> <br>
                <textarea name="description" id="description"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </main>
</body>
</html>